<a href="https://colab.research.google.com/github/PokrovskiyK/SelfEduPub/blob/main/notebooks/123.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#16 Вложенные списки

In [ ]:
line = [1, 7, 6, 11, 3]
img = [[1, 7, 6, 11, 3],[1, 7, 6, 11, 3],[1, 7, 6, 11, 3],[1, 7, 6, 11, 3],[1, 7, 6, 11, 3]]
img

[[1, 7, 6, 11, 3],
 [1, 7, 6, 11, 3],
 [1, 7, 6, 11, 3],
 [1, 7, 6, 11, 3],
 [1, 7, 6, 11, 3]]

In [ ]:
img = [line[:], line[:],line[:],line[:],line[:]]
img
# Ссылки на вложенные списки

[[1, 7, 6, 11, 3],
 [1, 7, 6, 11, 3],
 [1, 7, 6, 11, 3],
 [1, 7, 6, 11, 3],
 [1, 7, 6, 11, 3]]

In [ ]:
img[0][1]
img[1] = [0,0,0,0,0]
img[1] = [0] * 5
img[1][:] = [1]*5
img

[[1, 7, 6, 11, 3],
 [1, 1, 1, 1, 1],
 [1, 7, 6, 11, 3],
 [1, 7, 6, 11, 3],
 [1, 7, 6, 11, 3]]

In [ ]:
img[1][3]

1

# 17 Условный оператор

In [ ]:
#@title
# if - условный оператор ветвления
x = -4
if x < 0:
  x = -x

print(x)

4

In [ ]:
a = float(input("a = :"))
b = float(input("b = :"))
if a<b:
  a,b = b,a
print(a,b)

a = :12
b = :13
13.0 12.0

In [ ]:
x = int(input())
if x>=-4 and x <= 10:
  print (" x в диапазоне [-4;10]")

6
 x в диапазоне [-4;10]

In [ ]:
x = int(input())
if x:
    print (" x True")

0

In [ ]:
marks = [3,3,4,5,4]
if 2 in marks:
  print ("Студент будет отчислен")
else:
  print("Студент успешно сдал сессию")

Студент успешно сдал сессию

In [ ]:
x = int(input("Введите целое число"))
if x % 2 == 0:
  print("x - четное")
else:
  print("x - не четное")

Введите целое число23
x - не четное

In [ ]:
x = int(input("Введите целое число"))
if x <0:
  print("x - отрицательное число")
else:
  print("x - не отрицательное число")

Введите целое число12
x - не отрицательное число

# 18. Вложенные условия и множественный выбор

In [ ]:
x = int(input())
if x % 2 == 0:
  if 0 <= x <= 9:
    print("x - цифра")
  else:
    print(" ч - число")
else:
  print("Х - нечетное число")

11
Х - нечетное число

In [ ]:
# сравнение трех чисел
a = int(input("а = :"))
b = int(input("b = :"))
c = int(input("c = :"))
if a > b:
  if a > c: 
    print("a - max")
  else:
    print("c - max")
else:
  if b > c:
    print ("b - max")
  else:
    print("c - max")

а = :12
b = :444
c = :1212121
c - max

In [1]:
# ELIF
item = int(input("Выберите пункт :"))
if item == 1:
  print("1")
elif item == 2:
  print("2")
elif item == 3:
  print("3")
elif item == 4:
  print("4")
else: print("Ничего")

Выберите пункт :3
3

# 19 Тернарный условный оператор

In [5]:
a = 12
b = 7
if a > b:
  res = a
else:
  res = b
print(res)

12

In [6]:
res = a if a > b else b
print(res)
# Тернарный оператор присваивает значения, нет внутренних блоков

12

In [7]:
res = a +3  if a > b else b * 8
print(res)

15

In [8]:
res = print(a)  if a > b else b * 8
print(res)

12
None

In [14]:
s = "Большие буквы"
t = "vfktymrbt ,erds"

res  = s.upper() if s == "Большие буквы" else t
print(res)

БОЛЬШИЕ БУКВЫ

In [15]:
a = 7
b = 12
[1, 2,a if a < b else b , 4,5]

[1, 2, 7, 4, 5]

In [21]:
a = int(input("Введите целое число a: "))
print("a - " + ("чётное " if a % 2 == 0 else "нечётное ") + "число.")

Введите целое число a: 121
a - нечётное число.

In [23]:
a = -17
b = 23
max (1, 2, 3, a if a > 0 else b, 5, 3)

23

In [30]:
# Поиск наибольшего числа через тернарных операторов
a = 4 
b = 7 
c = -7

d = (a if a > c else c) if a > b else (b if b > c else c)
d

7