# Занятие 4 https://youtu.be/HZrbYY10cJI


---


Типы чисел в Python




---

In [ ]:
#int float comlex

#Базовые операции

# +, -, * ,/, //, %, **,

In [ ]:
a = 2 + 3
a = a**a
print(a)

Операции выполнятся слева направо. Возведение выполняется справа на лево.

In [ ]:
в2 = 3/6
в3 = 7//2 #минимальное целое
d3 = -7//3
print(d3)

-3

Остаток от деления

In [ ]:
10%4
-9%5

1

Остаток вычисляетс япо формуле -9 - (-10) = 1

In [ ]:
9%-5

-1

9 минус кратоное пяти (10)
9-10 - -1

In [ ]:
#Возведение в степень
36 ** 0.5
#Выполняется справа налево
2 ** 2 ** 2

16

In [ ]:
27 ** 1/3
# Приоритет степени!!!

9.0

Дополнения к ариф операторам

In [ ]:
i = 5
j = 3
i = i + 1
i += 1
i *= 3
print (i)

21

#Занятие 5

---


Математические функции и работа с модулями


---

In [ ]:
abs(5)

5

In [ ]:
min(1,2,3,-5,-7,10)
b = min(1,2,3,-5,-7,10)

In [ ]:
max (1,4,5,12,-5)

12

In [ ]:
min()
#Нельзя запускать без аргумента

TypeError: ignored

In [ ]:
#Возведение в степень через фунцию
pow(3,5)

243

In [ ]:
#Возведение в степпень
pow(144, 0.5)

12.0

In [ ]:
#Округление
round(1.5)
round(10.5)
round(10.500001)
round(12.4444444, 3)
round(1234143214, -5)

In [ ]:
# abs() min() max() pow() round()
max(1,2, abs(min(10,4,-4,5)))

In [ ]:
#Модуль math
import math
math.ceil(5.2) #Округление в большую сторону

In [ ]:
math.floor(-3.3) #Округление до наименьшего целого

In [ ]:
math.factorial(12)

In [ ]:
math.trunc(5.654)
#Отбрасывает дробную часть
#аналог
int(5.634)

In [ ]:
#Логарифмы
math.log2(4)
math.log10(100)
math.log(2.7)

In [ ]:
math.sqrt(169)

In [ ]:
math.sin(0)
math.cos(0)

In [ ]:
math.pi

In [ ]:
math.e




# Занятие 6
---
Функции print() и input()
---

In [ ]:
a = 12.34343
print(a * 8 * 0.5)

49.37372

In [ ]:
print('hello')

hello

In [ ]:
#Именованные параметры sep и end
a = 4
b = 23
c = 1
print(a,b,c)
print(a,b,c, sep = "'")

4 23 1
4'23'1

In [ ]:
print('hello')
print('world')

print('hello', end = '___')
print('world')
#По умолчанию end = \n

hello
world
hello___world

In [ ]:
x = 5.98598
y = 5.98948
print("Координаты точки: x = ", x, "; y = ", y, sep = "")

Координаты точки: x = 5.98598; y = 5.98948

In [ ]:
#То же самое через F-строку

print(f"Координаты точки: x = {x}; y = {y}")

Координаты точки: x = 5.98598; y = 5.98948

In [ ]:
# INPUT

a = input()
print(a, type(a))

#INPUT выводит все как строки

1231231231
1231231231 <class 'str'>

In [ ]:
a = int(input())
b = abs(a)
print(b)

-123
123

In [ ]:
a = float(input())
b = abs(a)
print(b)

-2.5
2.5

In [ ]:
# Вычисление преиметра прямоугольника

a = float(input("Длина прямоугольника  =  "))
b = float(input("Ширина прямоугольника  =  "))
print("Perimeter: ", 2* (a+b))

Длина прямоугольника  =  876
Ширина прямоугольника  =  87
Perimeter:  1926.0

In [ ]:
# Конструкция с map!!!!!!!

a, b = map (float, input("Введите две стороны прямоугольника: ").split())
print ("Периметр = ", 2 * (a+b))

Введите две стороны прямоугольника: 23 23
Периметр =  92.0

In [ ]:
 #Конструкция с map!!!!!!!
 #Периметр треугольника

a, b, c = map (float, input("Введите стороны треугольника: ").split())
print ("Периметр = ",  a+b+c)

Введите стороны треугольника: 4.5 7.6 0
Периметр =  12.1

#Занятие 7
---
Логический тип bool. Операторы сравнения и операторы and, or, not
---

In [ ]:
#True - истина
#False - ложь
4 > 7

False

In [ ]:
a = 5
b = 7.8
a <= b
rs = a <= b
print(rs)
type (rs)

True

bool

# Занятие 8
---
Введение в строки
---

In [ ]:
5==7-2

True

In [ ]:
'''
#Операторы сравнения
< 
>
<=
>=
==
!=
'''

'\n#Операторы сравнения\n< \n>\n<=\n>=\n==\n!=\n'

In [ ]:
s1 = "панда"
s2 = 'Pands'

print(s1)
print(s2)

#Запомнить символ \n

s1 = "Я люблю "
s2 = "язык Python"
s1 + s2 + " " + str(5+2)
"воу " * 3 + "палехч"
len("палехч")
asd = "Proverka"
print(len(asd))
print("Pro" in asd)
print(asd == "Proverka")
print(asd != "Proverka")

print('asd' > 'sda')

print(ord("&")) #Вывод кода символа

панда
Pands
8
True
True
False
False
38

#16 Вложенные списки

In [ ]:
line = [1, 7, 6, 11, 3]
img = [[1, 7, 6, 11, 3],[1, 7, 6, 11, 3],[1, 7, 6, 11, 3],[1, 7, 6, 11, 3],[1, 7, 6, 11, 3]]
img

[[1, 7, 6, 11, 3],
 [1, 7, 6, 11, 3],
 [1, 7, 6, 11, 3],
 [1, 7, 6, 11, 3],
 [1, 7, 6, 11, 3]]

In [ ]:
img = [line[:], line[:],line[:],line[:],line[:]]
img
# Ссылки на вложенные списки

[[1, 7, 6, 11, 3],
 [1, 7, 6, 11, 3],
 [1, 7, 6, 11, 3],
 [1, 7, 6, 11, 3],
 [1, 7, 6, 11, 3]]

In [ ]:
img[0][1]
img[1] = [0,0,0,0,0]
img[1] = [0] * 5
img[1][:] = [1]*5
img

[[1, 7, 6, 11, 3],
 [1, 1, 1, 1, 1],
 [1, 7, 6, 11, 3],
 [1, 7, 6, 11, 3],
 [1, 7, 6, 11, 3]]

In [ ]:
img[1][3]

1

# 17 Условный оператор

In [ ]:
#@title
# if - условный оператор ветвления
x = -4
if x < 0:
  x = -x

print(x)

4

In [ ]:
a = float(input("a = :"))
b = float(input("b = :"))
if a<b:
  a,b = b,a
print(a,b)

a = :12
b = :13
13.0 12.0

In [ ]:
x = int(input())
if x>=-4 and x <= 10:
  print (" x в диапазоне [-4;10]")

6
 x в диапазоне [-4;10]

In [ ]:
x = int(input())
if x:
    print (" x True")

0

In [ ]:
marks = [3,3,4,5,4]
if 2 in marks:
  print ("Студент будет отчислен")
else:
  print("Студент успешно сдал сессию")

Студент успешно сдал сессию

In [ ]:
x = int(input("Введите целое число"))
if x % 2 == 0:
  print("x - четное")
else:
  print("x - не четное")

Введите целое число23
x - не четное

In [ ]:
x = int(input("Введите целое число"))
if x <0:
  print("x - отрицательное число")
else:
  print("x - не отрицательное число")

Введите целое число12
x - не отрицательное число

#18 Вложенные условия и множественный выбор

In [ ]:
x = int(input())
if x % 2 == 0:
  if 0 <= x <= 9:
    print("x - цифра")
  else:
    print(" ч - число")
else:
  print("Х - нечетное число")

11
Х - нечетное число

In [ ]:
# сравнение трех чисел
a = int(input("а = :"))
b = int(input("b = :"))
c = int(input("c = :"))
if a > b:
  if a > c: 
    print("a - max")
  else:
    print("c - max")
else:
  if b > c:
    print ("b - max")
  else:
    print("c - max")

а = :12
b = :444
c = :1212121
c - max

In [ ]:
# ELIF
item = int(input("Выберите пункт :"))
if item == 1:
  print("1")
elif item == 2:
  print("2")
elif item == 3:
  print("3")
elif item == 4:
  print("4")
else: print("Ничего")

Выберите пункт :3
3

# 19 Тернарный условный оператор

In [ ]:
a = 12
b = 7
if a > b:
  res = a
else:
  res = b
print(res)

12

In [ ]:
res = a if a > b else b
print(res)
# Тернарный оператор присваивает значения, нет внутренних блоков

12

In [ ]:
res = a +3  if a > b else b * 8
print(res)

15

In [ ]:
res = print(a)  if a > b else b * 8
print(res)

12
None

In [ ]:
s = "Большие буквы"
t = "vfktymrbt ,erds"

res  = s.upper() if s == "Большие буквы" else t
print(res)

БОЛЬШИЕ БУКВЫ

In [ ]:
a = 7
b = 12
[1, 2,a if a < b else b , 4,5]

[1, 2, 7, 4, 5]

In [ ]:
a = int(input("Введите целое число a: "))
print("a - " + ("чётное " if a % 2 == 0 else "нечётное ") + "число.")

Введите целое число a: 121
a - нечётное число.

In [ ]:
a = -17
b = 23
max (1, 2, 3, a if a > 0 else b, 5, 3)

23

In [ ]:
# Поиск наибольшего числа через тернарных операторов
a = 4 
b = 7 
c = -7

d = (a if a > c else c) if a > b else (b if b > c else c)
d

7

#20 While оператор цикла

In [ ]:
# сумма 1, 2, 3, 4, ....., n
s = 0
i = 1
N = 1000
while i <= N:
  s += i
  i += 1
print(s)

500500

In [ ]:
# сумма 1, 2, 3, 4, ....., n
s = 0
i = 1
N = 1000
while i <= N and i <= 50:
  s += i
  i += 1
print(s)

1275

In [ ]:
s = 0
i = 1
N = 1000
while i <= N and i <= 50:
  s += i
  i += 2
print(s)

625

In [ ]:
i = 1
while i < 10:
  print(i)
  i += 1

1
2
3
4
5
6
7
8
9

In [ ]:
N = 5
i = -1
while i >= -N:
  print(i)
  i -= 1

-1
-2
-3
-4
-5

In [ ]:
pass_true = "password"
ps = ""
while ps != pass_true:
  ps = input("Введите пароль: ")
print ("Вход в систему выполнен успешно.")

Введите пароль: 12
Введите пароль: Лшкшдд
Введите пароль: password
Вход в систему выполнен успешно.

In [ ]:
#Проверка ввода пароля со счетчиком попыток
pass_true = "password"
ps = ""
m = 3
while ps != pass_true and m > 0:
  ps = input("Введите пароль: ")
  m -= 1
  if ps != pass_true and m > 0:
    print(f"Осталось {m} попытки(а). ")
if ps == pass_true:
  print("Вход в систему выполнен успешно.")
else:
  print("Превышено количество попыток входа.")

Введите пароль: 123
Осталось 2 попытки(а).
Введите пароль: к
Осталось 1 попытки(а).
Введите пароль: password
Вход в систему выполнен успешно.

In [ ]:
N = 20
i = 1
while i <= N:
  if i % 3 == 0:
    print(i)

  i += 1

3
6
9
12
15
18

#21 Break и Continue для WHILE

In [ ]:
print("Запуск цикла")

i = 0
while True:
  i += 1
  break
print ("Завершение цикла")

Запуск цикла
Завершение цикла

In [ ]:
print("Запуск цикла") #Прерывание цикла при четном значении
d = [3, 5, 7, 8, 11]
flFind = False
i = 0
while i < len(d):
  flFind = d[i] % 2 == 0
  if flFind == True: #Можно записать  if flFind:
    break

  i += 1

print (flFind)

Запуск цикла
True

In [ ]:
s = 0
d = 1

while d != 0:
  d = int(input("Введите целое число: "))
  if d % 2 == 0:
    continue
  s += d
  print(f"Сумма нечётных равна = {s}")

Введите целое число: 3
Сумма нечётных равна = 3
Введите целое число: 2
Введите целое число: 2
Введите целое число: 7
Сумма нечётных равна = 10
Введите целое число: 12
Введите целое число: 11
Сумма нечётных равна = 21
Введите целое число: 13
Сумма нечётных равна = 34
Введите целое число: 32
Введите целое число: 2
Введите целое число: 0

In [ ]:
#Нештатное срабатывание
s = 0
i = -10
while i < 100:
  if i == 0:
    break
  s += 1/i
  i += 1
else:
  print ("Сумма вычичлена корректно")

print(s)

Сумма вычичлена корректно
-2.9289682539682538

#22 Оператор цикла FOR. Функция Range

In [ ]:
d = [1,2,3,4,5]
for x in d:
  print(x)

1
2
3
4
5

In [ ]:
for x in "piter":
  print(x)

p
i
t
e
r

In [ ]:
p = 1
d = [1,2,3,4,5]
for x in d:
  p *= x

print(p)

120

In [ ]:
d = [1,2,3,4,5]
for i in range(len(d)):
  d[i] *= 2 
print(d)

[2, 4, 6, 8, 10]

In [ ]:
s = 0
for i in range(2, 1001):
  s += 1/i
print(s)

6.485470860550342

#23 Пример работы for. Функция enumerate()

In [ ]:
# Факториал
n = int(input("Введите натуральное число до 100: "))
if n < 1 or n > 100:
  print("Не верно введено число ")
else:
  p = 1
  for i in range(1, n+1):
    p *= i
print(f"Факториал n = {p}")

Введите натуральное число до 100: 99
Факториал n = 933262154439441526816992388562667004907159682643816214685929638952175999932299156089414639761565182862536979208272237582511852109168640000000000000000000000

In [ ]:
for i in range(1, 6):
  print('*'*i)

*
**
***
****
*****

In [ ]:
words = ["Я", "скоро","закончу","курс", "по", "Пайтону"]
frase = ""
for w in words:
  frase += " " + w
print(frase.lstrip()) #удалили пробел в начале

Я скоро закончу курс по Пайтону

In [ ]:
words = ["Я", "скоро","закончу","курс", "по", "Пайтону"]
frase = ""
print("-=-".join(words))

Я-=-скоро-=-закончу-=-курс-=-по-=-Пайтону

In [ ]:
digs = [-1, 12, 123, -23, 345, 22, 9]
for i in range(len(digs)):
  if 10 <= abs(digs[i]) <= 99:
    digs[i] = 333

print(digs)

[-1, 333, 123, 333, 345, 333, 9]

In [ ]:
digs = [-1, 12, 123, -23, 345, 22, 9]
for i, d in enumerate(digs):
  if 10 <= abs(digs[i]) <= 99:
    digs[i] = 333

print(digs)

[-1, 333, 123, 333, 345, 333, 9]

#24 Итератор. Итерируемые объекты

In [ ]:
d = [5, 7, 4, 32, 45, 12]
it = iter(d)
next(it)
next(it)

7

In [ ]:
s = "python"
it = iter(s)
next(it)

'p'

In [ ]:
r = range(10)
it = iter(r)
next(it)
next(it)
next(it)
next(it)
next(it)

4

In [ ]:
iter(3)

TypeError: ignored

In [ ]:
iter([5])

#25 Вложенные циклы

In [ ]:
for i in range(1,4):
  for j in range(1,6):
    print(f"i = {i}, j = {j}", end=' ')
  print()

i = 1, j = 1 i = 1, j = 2 i = 1, j = 3 i = 1, j = 4 i = 1, j = 5
i = 2, j = 1 i = 2, j = 2 i = 2, j = 3 i = 2, j = 4 i = 2, j = 5
i = 3, j = 1 i = 3, j = 2 i = 3, j = 3 i = 3, j = 4 i = 3, j = 5

In [ ]:
a = [[1,2,3,4],[5,6,7,8],[1,3,5,7]]

for row in a:
  for x in row:
    print(x, type(x), end=" ")
  print

1 <class 'int'> 2 <class 'int'> 3 <class 'int'> 4 <class 'int'> 5 <class 'int'> 6 <class 'int'> 7 <class 'int'> 8 <class 'int'> 1 <class 'int'> 3 <class 'int'> 5 <class 'int'> 7 <class 'int'>

In [ ]:
a = [[1,2,3,4],[5,6,7,8],[1,3,5,7]]
b = [[1,1,1,1],[2,2,2,2],[3,3,3,3]]
c = []

for i, row in enumerate(a):
  r = []
  for j, x in enumerate(row):
    r.append(x + b[i][j])
  c.append(r)
print(c)

[[2, 3, 4, 5], [7, 8, 9, 10], [4, 6, 8, 10]]

In [ ]:
M, N = list(map(int, input('Введите M и N: ').split()))

zeros = []
for i in range(M):
  zeros.append([0] * N)

print(zeros)

for i in range(M):
  for j in range(N):
    zeros [i][j] = 1
print(zeros)

Введите M и N: 2 3
[[0, 0, 0], [0, 0, 0]]
[[1, 1, 1], [1, 1, 1]]

In [ ]:
# Транспонирование
A = [[1,2,3,4],[5,6,7,8],[1,3,5,7],[11,23,35,47]]
for i in range(len(A)):
  for j in range (i+1, len(A)):
    A[i][j], A[j][i] = A[j][i], A[i][j]

for r in A:
  for x in r:
    print(x, end="\t")
  print()

1	5	1	11
2	6	3	23
3	7	5	35
4	8	7	47

#27 Генератор списков

In [ ]:
N = 6
a = [0] * N
for i in range(N):
  a[i] = i ** 2
print(a)

[0, 1, 4, 9, 16, 25]

In [ ]:
a = [x**2 for x in range(N)]
print(a)

[0, 1, 4, 9, 16, 25]

In [ ]:
a = [1 for x in range(5)]
print(a)

[1, 1, 1, 1, 1]

In [ ]:
a = [x % 4 for x in range(24)]
print(a)

[0, 1, 2, 3, 0, 1, 2, 3, 0, 1, 2, 3, 0, 1, 2, 3, 0, 1, 2, 3, 0, 1, 2, 3]

In [ ]:
a = [0.15 * x + 1 for x in range(10)]
print(a)

[1.0, 1.15, 1.3, 1.45, 1.6, 1.75, 1.9, 2.05, 2.2, 2.3499999999999996]

In [ ]:
d_inp = input("Введите целое число через пробел: ")

a = [int(d) for d in d_inp.split()]
print(a)

Введите целое число через пробел: 1 3 4 5
[1, 3, 4, 5]

In [ ]:
a = [d for d in "python"]
a

['p', 'y', 't', 'h', 'o', 'n']

In [ ]:
a = [ord(d) for d in "python"]
a

[112, 121, 116, 104, 111, 110]

In [ ]:
a = [x for x in range(-5, 5) if x < 0]
a

[-5, -4, -3, -2, -1]

In [ ]:
d = [4,3,7,12,34,54,-56,77,90,100]
a = ["четное" if x % 2 ==0 else "нечетное" 
    for x in d
     if x > 0]
a

['четное',
 'нечетное',
 'нечетное',
 'четное',
 'четное',
 'четное',
 'нечетное',
 'четное',
 'четное']

#28 Вложенные генераторы списков

In [ ]:
a = [(i, j) for i in range(4) if i%3 == 0 for j in range(5)]
print(a)

[(0, 0), (0, 1), (0, 2), (0, 3), (0, 4), (3, 0), (3, 1), (3, 2), (3, 3), (3, 4)]

In [ ]:
#Таблица умножения
a = [f'{i}*{j} = {i*j}' for i in range(9) for j in range(9)]
print(a)

['0*0 = 0', '0*1 = 0', '0*2 = 0', '0*3 = 0', '0*4 = 0', '0*5 = 0', '0*6 = 0', '0*7 = 0', '0*8 = 0', '1*0 = 0', '1*1 = 1', '1*2 = 2', '1*3 = 3', '1*4 = 4', '1*5 = 5', '1*6 = 6', '1*7 = 7', '1*8 = 8', '2*0 = 0', '2*1 = 2', '2*2 = 4', '2*3 = 6', '2*4 = 8', '2*5 = 10', '2*6 = 12', '2*7 = 14', '2*8 = 16', '3*0 = 0', '3*1 = 3', '3*2 = 6', '3*3 = 9', '3*4 = 12', '3*5 = 15', '3*6 = 18', '3*7 = 21', '3*8 = 24', '4*0 = 0', '4*1 = 4', '4*2 = 8', '4*3 = 12', '4*4 = 16', '4*5 = 20', '4*6 = 24', '4*7 = 28', '4*8 = 32', '5*0 = 0', '5*1 = 5', '5*2 = 10', '5*3 = 15', '5*4 = 20', '5*5 = 25', '5*6 = 30', '5*7 = 35', '5*8 = 40', '6*0 = 0', '6*1 = 6', '6*2 = 12', '6*3 = 18', '6*4 = 24', '6*5 = 30', '6*6 = 36', '6*7 = 42', '6*8 = 48', '7*0 = 0', '7*1 = 7', '7*2 = 14', '7*3 = 21', '7*4 = 28', '7*5 = 35', '7*6 = 42', '7*7 = 49', '7*8 = 56', '8*0 = 0', '8*1 = 8', '8*2 = 16', '8*3 = 24', '8*4 = 32', '8*5 = 40', '8*6 = 48', '8*7 = 56', '8*8 = 64']

In [ ]:
matrix = [[1,2,3,4],[11,12,13,14],[21,22,23,24]]
a = [x for row in matrix for x in row]

print(a)

[1, 2, 3, 4, 11, 12, 13, 14, 21, 22, 23, 24]

[<оператор>for<счетчик>in<итерируемый объект]

In [ ]:
M, N = 3,4
matrix = [[a for a in range(M)] for b in range(N)]

print(matrix)

[[0, 1, 2], [0, 1, 2], [0, 1, 2], [0, 1, 2]]

In [ ]:
A = [[1,2,3],[4,5,6],[7,8,9]]
A = [[x**2 for x in row] for row in A]
print(A)

[[1, 4, 9], [16, 25, 36], [49, 64, 81]]

In [ ]:
A = [[1,2,3],[4,5,6],[7,8,9]]
A = [[x**2 for x in row] for row in A]
a = [x**2 for row in A for x in row]
print(A)
print(a)

[[1, 4, 9], [16, 25, 36], [49, 64, 81]]
[1, 16, 81, 256, 625, 1296, 2401, 4096, 6561]

In [ ]:
#Транспонирование
A = [[1,2,3],[4,5,6],[7,8,9]]
A = [[row[i] for row in A ] for i in range(len(A[0]))]
print(A)

[[1, 16, 49], [4, 25, 64], [9, 36, 81]]

In [ ]:
g = [u ** 2 for u in [x+1 for x in range(5)]]
print(g)

[1, 4, 9, 16, 25]

#29 Введение в словари

In [2]:
d = {"house":"дом", "car":"машина", "tree":"дерево"}
d["car"]

'машина'

In [3]:
dict(one=1, two=2, three=3, four=4)

{'four': 4, 'one': 1, 'three': 3, 'two': 2}

In [6]:
lst = [[2, "неуд"],[3, "уд"],[4, "хор"],[5, "отл"]]
dict(lst)

{2: 'неуд', 3: 'уд', 4: 'хор', 5: 'отл'}

In [8]:
dict()

{}

In [9]:
{}

{}

In [11]:
d = {}
d[True] = "истина"
d
#только не изменяемые типы данных для ключей

{True: 'истина'}

In [12]:
d = {True:1,False: "ложь", list: [1,2,3,4]}
len(d)

3

In [14]:
d = {True:1,False: "ложь", list: [1,2,3,4]}
del d[list]
d

{False: 'ложь', True: 1}

In [15]:
True in d

True

In [16]:
False not in d

False

#30 Методы словаря

In [ ]:
dict.fromkeys

In [17]:
lst = ["+7","+6","+5","+4"]
a = dict.fromkeys(lst)
a

{'+4': None, '+5': None, '+6': None, '+7': None}

In [18]:
lst = ["+7","+6","+5","+4"]
a = dict.fromkeys(lst, "код страны")
a

{'+4': 'код страны',
 '+5': 'код страны',
 '+6': 'код страны',
 '+7': 'код страны'}

In [20]:
a.clear()
a

{}

In [26]:
d = {True:1,False: "ложь", list: [1,2,3,4], 5:"5"}
d

{5: '5', list: [1, 2, 3, 4], False: 'ложь', True: 1}

In [28]:
d2 = d.copy()
d2

{5: 5, list: [1, 2, 3, 4], False: 'ложь', True: 1}

In [31]:
d2 = dict(d)
id(d2)
id(d)

140190233919808

In [36]:
dct = {True:1,False: "ложь", list: [1,2,3,4]}
dct[list]

[1, 2, 3, 4]

In [37]:
dct.get(list)

[1, 2, 3, 4]

In [39]:
dct.get('qwerty', False) #если ключ не сущ то возвращ False

False

In [40]:
dct.setdefault(list)

[1, 2, 3, 4]

In [57]:
dct.setdefault('qwerty') #если ключа нет, то добавляет его
dct

{list: [1, 2, 3, 4], False: 'ложь', True: 1, 'qwerty': None}

In [58]:
del dct['qwerty']
dct

{list: [1, 2, 3, 4], False: 'ложь', True: 1}

In [60]:
dct.setdefault(3, "three") #если ключ не сущ то добавляет ключ + значение
dct

{3: 'three', list: [1, 2, 3, 4], False: 'ложь', True: 1}

In [62]:
dct.pop(3) #удаляет по ключу и возвр значение

'three'

In [66]:
dct.pop('abc') #ошибка если не сущ

KeyError: ignored

In [65]:
dct.pop('abc', False) #вместо ошибки возвращ значение

False

In [ ]:
dct.popitem() #удаляет с конца

In [69]:
#вывод списка ключей
dct = {True:1,False: "ложь", list: [1,2,3,4], 5:5}
dct.keys()

dict_keys([True, False, <class 'list'>, 5])

In [71]:
for x in dct: #цикл пробегает по ключам
  print (x)

True
False
<class 'list'>
5

In [74]:
dct = {True:1,False: "ложь", list: [1,2,3,4], 5:5}
for x in dct.values(): #цикл пробегает по Значениям
  print (x)

1
ложь
[1, 2, 3, 4]
5

In [75]:
dct = {True:1,False: "ложь", list: [1,2,3,4], 5:5}
for x in dct.items(): #цикл пробегает по кортежам ключ+значение
  print (x)

(True, 1)
(False, 'ложь')
(<class 'list'>, [1, 2, 3, 4])
(5, 5)

In [77]:
for key, value in dct.items():
  print (key, value)

True 1
False ложь
<class 'list'> [1, 2, 3, 4]
5 5

In [86]:
d = dict(one=1, two=2, three=3, four=4)
d

{'four': 4, 'one': 1, 'three': 3, 'two': 2}

In [87]:
d2 = {2: "неуд",3: "уд","four": "хор",5: "отл"}
d2

{2: 'неуд', 3: 'уд', 5: 'отл', 'four': 'хор'}

In [90]:
d.update(d2)
d

{2: 'неуд', 3: 'уд', 5: 'отл', 'four': 'хор', 'one': 1, 'three': 3, 'two': 2}

In [91]:
d = dict(one=1, two=2, three=3, four=4)
d2 = {2: "неуд",3: "уд","four": "хор",5: "отл"}
d3 = {**d, **d2}
d3

{2: 'неуд', 3: 'уд', 5: 'отл', 'four': 'хор', 'one': 1, 'three': 3, 'two': 2}

In [92]:
d3 = d | d2
d3

TypeError: ignored

#31 Кортежи Tuple

In [93]:
#Элементы кортежей изменять нельзя
a = 1,2
a

(1, 2)

In [95]:
a = (1,2,3)
a

(1, 2, 3)

In [96]:
b = (1,)
b

(1,)

In [98]:
x, y = (1, 2)
x

1

In [99]:
x, y, z = 1, 2, 3

In [100]:
x, y = ["Hello", "Python"]
y

'Python'

In [101]:
a = (1,2,3)
len(a)

3

In [102]:
a[1]

2

In [103]:
a[0:2]

(1, 2)

In [104]:
a[:]

(1, 2, 3)

In [106]:
a[1] = 10

TypeError: ignored

In [107]:
d = {}
d[a] = "кортеж"
d

{(1, 2, 3): 'кортеж'}

In [109]:
lst = [1,2,3]
crt = (1,2,3) #кортежу нужно меньше памяти
print(lst.__sizeof__())
print(crt.__sizeof__())

64
48

In [114]:
aa = ()

In [110]:
b = tuple()
b

()

In [115]:
aa = aa + (1,)
aa

(1,)

In [116]:
aa += (('qwe', 'ewq'),)
aa

(1, ('qwe', 'ewq'))

In [117]:
b = (0,) * 5
b

(0, 0, 0, 0, 0)

In [118]:
a = tuple([1,2,3])
a

(1, 2, 3)

In [119]:
a = tuple('hello')
a

('h', 'e', 'l', 'l', 'o')

In [120]:
t = list(a)
t

['h', 'e', 'l', 'l', 'o']

In [124]:
a = (True, [1,2,3], 'Hello', 5, {"house":"дом"})
a

(True, [1, 2, 3], 'Hello', 5, {'house': 'дом'})

In [125]:
a[1].append(55)
a

(True, [1, 2, 3, 55], 'Hello', 5, {'house': 'дом'})

In [126]:
tpl = (1,2,1,1,1,2,2,3,3,2)
tpl.count(1)

4

In [127]:
tpl = (1,2,1,1,1,2,2,3,3,2)
tpl.count(5)

0

In [129]:
tpl = (1,2,1,1,1,2,2,3,3,2)
tpl.index(2,3) #значение и диапазон

5

In [130]:
3 in tpl

True

#32 Множества SET и их методы

In [132]:
a = {1,2,3,"hello"}
type(a)

set

In [133]:
a = {1,2,3, "Hello",1,2,3, "Hello"}
a #только уникальные объекты

{1, 2, 3, 'Hello'}

In [134]:
a = {1,4.5, "str",(1,2,3)} #только не изменяемые объекты

In [135]:
 a = {1,4.5, "str",[1,2,3] #только не изменяемые объекты

SyntaxError: ignored

In [137]:
st = set()
st

set()

In [138]:
set([1,2,34,2,3,3,2,2,1,])

{1, 2, 3, 34}

In [139]:
set('abrakadakra')

{'a', 'b', 'd', 'k', 'r'}

In [140]:
set(range(10))

{0, 1, 2, 3, 4, 5, 6, 7, 8, 9}

In [143]:
numbers = [11,12,11,13,14,14,14,12,23]
q = set(numbers)

In [144]:
for n in q:
  print(n)

11
12
13
14
23

In [145]:
len(q)

5

In [146]:
11 in q

True

In [153]:
b = set()
b.add(7)
b
b.add(3)
b

{3, 7}

In [155]:
b.update([1,2],(3,2))
b

{1, 2, 3, 7}

In [160]:
b.discard(7)
b

{3}

In [161]:
b.remove(7)

KeyError: ignored

In [162]:
b.pop()
b

set()

In [164]:
a = {1,2,3,4,5}
a.clear()
a

set()

In [165]:
d = set([1.2,2,3,4,5,5,4,3,2,1])
d

{1, 1.2, 2, 3, 4, 5}

#33 Операции над множествами

In [166]:
setA = {1,2,3,4}
setB = {3,4,5,6,7}

res = setA & setB #Пересечение множеств
res

{3, 4}

In [167]:
setA.intersection(setB)

{3, 4}

In [168]:
setA.intersection_update(setB)

In [169]:
setA = {1,2,3,4}
setB = {3,4,5,6,7}

setA | setB #Объединение множеств

{1, 2, 3, 4, 5, 6, 7}

In [171]:
setA |= setB
setA

{1, 2, 3, 4, 5, 6, 7}

In [172]:
setA = {1,2,3,4}
setB = {3,4,5,6,7}
setA.union(setB)

{1, 2, 3, 4, 5, 6, 7}

In [173]:
setA = {1,2,3,4}
setB = {3,4,5,6,7}
setA - setB

{1, 2}

In [174]:
setB -= setA

In [175]:
setA = {1,2,3,4}
setB = {3,4,5,6,7}
# Симметричная разность

setA ^ setB

{1, 2, 5, 6, 7}

In [176]:
setA = {2,5,3,5,2}
setB = {5,3,2,5,2}
setA == setB

True

In [179]:
setA = {7,3,4,3,2}
setB = {7,3,4}
setA > setB

True

In [180]:
setA = {1,2,3,4,5}
setB = {6,7,8}
setA > setB

False

#34 Генераторы множеств и словарей

In [181]:
a = [x **2 for x in range(2,7)]
a

[4, 9, 16, 25, 36]

In [182]:
a = {x **2 for x in range(2,7)}
a

{4, 9, 16, 25, 36}

In [183]:
a = {x: x **2 for x in range(2,7)}
a

{2: 4, 3: 9, 4: 16, 5: 25, 6: 36}

In [193]:
dd = [1,2, "3333434", -7.12, 5]
сс = {int(x) for x in dd} #преобразование списка во множество
сс

{-7, 1, 2, 5, 3333434}

In [195]:
m = {"неуд": 2,"удовл": 3,"хор": 4,"отл": 5}
a = {key.upper(): int(value) for key, value in m.items()}
a

{'НЕУД': 2, 'ОТЛ': 5, 'УДОВЛ': 3, 'ХОР': 4}

In [196]:
d = [1,2, "3333434", -7.12, 5]
a = {int(x) for x in d if int(x) >0}
a

{1, 2, 5, 3333434}

In [200]:
m = {"безнадеж": 0,"убого": 1,"неуд": 2,"удовл": 3,"хор": 4,"отл": 5}

a = {int(value):key for key, value in m.items() if 2<= int(value) <= 5}
a

{2: 'неуд', 3: 'удовл', 4: 'хор', 5: 'отл'}

#35 Функции. Знакомство

In [1]:
print #ссылка на функ

In [ ]:
print() #скобки активируют функ

In [2]:
f = print
f("Hello")

Hello

In [3]:
def send_mail():
  text = "Я так и непонял что такое функция"
  print(text)

In [4]:
send_mail()

Я так и непонял что такое функция

In [8]:
def send_mail(from_name): #Добавили аргумент
  text = f"""Я так и непонял что такое функция
  С уважением, {from_name}"""
  print(text)

In [7]:
send_mail("Kir")

Я так и непонял что такое функция
  С уважением, Kir

In [9]:
def send_mail(from_name, old): #Добавили аргумент
  text = f"""Я так и непонял что такое функция
  С уважением, {from_name}
  Мне {old} лет"""
  print(text)

In [11]:
send_mail("Kir",39)

Я так и непонял что такое функция
  С уважением, Kir
  Мне 39 лет

#36 Оператор Return в функциях

In [ ]:
def send_mail(from_name, old): #Добавили аргумент
  text = f"""Я так и непонял что такое функция
  С уважением, {from_name}
  Мне {old} лет"""
  print(text)

In [15]:
def get_sqrt(x):
  res = None if x < 0 else x ** 0.5
  return res

a = get_sqrt(49)
print(a)

7.0

In [16]:
def get_sqrt(x):
  res = None if x < 0 else x ** 0.5
  print(x)
  return res

a = get_sqrt(49)
print(a)

49
7.0

In [17]:
def get_sqrt(x):
  res = None if x < 0 else x ** 0.5
  return (res, x)

a, b = get_sqrt(49)
print(a, b)

7.0 49

In [19]:
def get_max_2(a, b):
  return a if a > b else b

x, y, z = 5, 7, 10
print(get_max_2(x, get_max_2(y, z))) #Огонь!!!

10

In [21]:
def get_max_3 (a, b, c):
  return (get_max_2(a, get_max_2(b, c)))

x, y, z = 5, 7, 10
print(get_max_3(x, y, z)) #Из одной функции - другую

10

In [ ]:
PERIMETR = True
if PERIMETR:
  get_rect = 1
else:
  get_rect = 2

print get_rect

In [23]:
PERIMETR = False
if PERIMETR:
  def get_rect(a, b):
    return 2 * (a+b)
else:
  def get_rect(a, b):
    return a * b

print(get_rect(4, 3.5))

14.0

In [24]:
def get_rect(a, b):
    return 2 * (a+b)

def get_rect(a, b):
    return a * b

print(get_rect(4, 3.5))

14.0

In [27]:
def even(x):
  return x % 2 == 0

for i in range(1,20):
  if even(i):
    print(i)

2
4
6
8
10
12
14
16
18

#37 Алгоритм Евклида

In [39]:
#Наибольший общий делитель
a, b = 18, 24
def get_nod(a, b):
  """Вычисляется НОД по алгоритму Евклида
  ;param a: первое нат число
  ;param b: второе нат число
  ;return НОД
"""
  while a != b:
    if a >b:
      a -= b
    else:
      b -= a
  return a


res = get_nod(122, 51)
print(res)
help(get_nod)

1
Help on function get_nod in module __main__:

get_nod(a, b)
    Вычисляется НОД по алгоритму Евклида
    ;param a: первое нат число
    ;param b: второе нат число
    ;return НОД

test 1 -- OK

In [40]:
def test_nod(func):
  # ---тест №1
  a = 28
  b = 35
  res = func(a, b)
  if res == 7:
    print ("test 1 -- OK")
  else:
    print ("test 1 -- FAIL")


test_nod(get_nod)

test 1 -- OK

In [42]:
import time

def test_nod(func):
  # ---тест №2
  a = 100
  b = 1
  res = func(a, b)
  if res == 1:
    print ("test 2 -- OK")
  else:
    print ("test 2 -- FAIL")


test_nod(get_nod)

def test_nod(func):
  # ---тест №2
  a = 2
  b = 100000000
  st = time.time()
  res = func(a, b)
  et = time.time()
  dt = et - st
  if res == 2 and dt <1:
    print ("test 3 -- OK")
  else:
    print ("test 3 -- FAIL")


test_nod(get_nod)

test 2 -- OK
test 3 -- FAIL

In [49]:
#БЫСТРЫЙ алгоритм ЕВКЛИДА

def get_nod_fast(a, b):
  if a < b:
    a,b = b,a
  while b != 0:
    a, b = b, a % b
  return a

def test_nod(func):
  # ---тест №1
  a = 28
  b = 35
  res = func(a, b)
  if res == 7:
    print ("test 1 -- OK")
  else:
    print ("test 1 -- FAIL")


test_nod(get_nod_fast)


def test_nod(func):
  # ---тест №2
  a = 100
  b = 1
  res = func(a, b)
  if res == 1:
    print ("test 2 -- OK")
  else:
    print ("test 2 -- FAIL")


test_nod(get_nod_fast)

def test_nod(func):
  # ---тест №2
  a = 5
  b = 1000000000000
  st = time.time()
  res = func(a, b)
  et = time.time()
  dt = et - st
  if res == 5 and dt <1:
    print ("test 3 -- OK")
  else:
    print ("test 3 -- FAIL")


test_nod(get_nod_fast)

test 1 -- OK
test 2 -- OK
test 3 -- OK

In [54]:
def get_nod_fast(a, b):
  if a < b:
    a,b = b,a
  while b != 0:
    a, b = b, a % b
    print(a,b)
  return a

get_nod_fast(7,2000)

7 5
5 2
2 1
1 0

1