# Занятие 4 https://youtu.be/HZrbYY10cJI


---


Типы чисел в Python




---

In [ ]:
#int float comlex

#Базовые операции

# +, -, * ,/, //, %, **,

In [ ]:
a = 2 + 3
a = a**a
print(a)

Операции выполнятся слева направо. Возведение выполняется справа на лево.

In [ ]:
в2 = 3/6
в3 = 7//2 #минимальное целое
d3 = -7//3
print(d3)

-3

Остаток от деления

In [ ]:
10%4
-9%5

1

Остаток вычисляетс япо формуле -9 - (-10) = 1

In [ ]:
9%-5

-1

9 минус кратоное пяти (10)
9-10 - -1

In [ ]:
#Возведение в степень
36 ** 0.5
#Выполняется справа налево
2 ** 2 ** 2

16

In [ ]:
27 ** 1/3
# Приоритет степени!!!

9.0

Дополнения к ариф операторам

In [ ]:
i = 5
j = 3
i = i + 1
i += 1
i *= 3
print (i)

21

#Занятие 5

---


Математические функции и работа с модулями


---

In [ ]:
abs(5)

5

In [ ]:
min(1,2,3,-5,-7,10)
b = min(1,2,3,-5,-7,10)

In [ ]:
max (1,4,5,12,-5)

12

In [ ]:
min()
#Нельзя запускать без аргумента

TypeError: ignored

In [ ]:
#Возведение в степень через фунцию
pow(3,5)

243

In [ ]:
#Возведение в степпень
pow(144, 0.5)

12.0

In [ ]:
#Округление
round(1.5)
round(10.5)
round(10.500001)
round(12.4444444, 3)
round(1234143214, -5)

In [ ]:
# abs() min() max() pow() round()
max(1,2, abs(min(10,4,-4,5)))

In [ ]:
#Модуль math
import math
math.ceil(5.2) #Округление в большую сторону

In [ ]:
math.floor(-3.3) #Округление до наименьшего целого

In [ ]:
math.factorial(12)

In [ ]:
math.trunc(5.654)
#Отбрасывает дробную часть
#аналог
int(5.634)

In [ ]:
#Логарифмы
math.log2(4)
math.log10(100)
math.log(2.7)

In [ ]:
math.sqrt(169)

In [ ]:
math.sin(0)
math.cos(0)

In [ ]:
math.pi

In [ ]:
math.e




# Занятие 6
---
Функции print() и input()
---

In [ ]:
a = 12.34343
print(a * 8 * 0.5)

49.37372

In [ ]:
print('hello')

hello

In [ ]:
#Именованные параметры sep и end
a = 4
b = 23
c = 1
print(a,b,c)
print(a,b,c, sep = "'")

4 23 1
4'23'1

In [ ]:
print('hello')
print('world')

print('hello', end = '___')
print('world')
#По умолчанию end = \n

hello
world
hello___world

In [ ]:
x = 5.98598
y = 5.98948
print("Координаты точки: x = ", x, "; y = ", y, sep = "")

Координаты точки: x = 5.98598; y = 5.98948

In [ ]:
#То же самое через F-строку

print(f"Координаты точки: x = {x}; y = {y}")

Координаты точки: x = 5.98598; y = 5.98948

In [ ]:
# INPUT

a = input()
print(a, type(a))

#INPUT выводит все как строки

1231231231
1231231231 <class 'str'>

In [ ]:
a = int(input())
b = abs(a)
print(b)

-123
123

In [ ]:
a = float(input())
b = abs(a)
print(b)

-2.5
2.5

In [ ]:
# Вычисление преиметра прямоугольника

a = float(input("Длина прямоугольника  =  "))
b = float(input("Ширина прямоугольника  =  "))
print("Perimeter: ", 2* (a+b))

Длина прямоугольника  =  876
Ширина прямоугольника  =  87
Perimeter:  1926.0

In [ ]:
# Конструкция с map!!!!!!!

a, b = map (float, input("Введите две стороны прямоугольника: ").split())
print ("Периметр = ", 2 * (a+b))

Введите две стороны прямоугольника: 23 23
Периметр =  92.0

In [ ]:
 #Конструкция с map!!!!!!!
 #Периметр треугольника

a, b, c = map (float, input("Введите стороны треугольника: ").split())
print ("Периметр = ",  a+b+c)

Введите стороны треугольника: 4.5 7.6 0
Периметр =  12.1

#Занятие 7
---
Логический тип bool. Операторы сравнения и операторы and, or, not
---

In [ ]:
#True - истина
#False - ложь
4 > 7

False

In [ ]:
a = 5
b = 7.8
a <= b
rs = a <= b
print(rs)
type (rs)

True

bool

# Занятие 8
---
Введение в строки
---

In [ ]:
5==7-2

True

In [ ]:
'''
#Операторы сравнения
< 
>
<=
>=
==
!=
'''

'\n#Операторы сравнения\n< \n>\n<=\n>=\n==\n!=\n'

In [1]:
s1 = "панда"
s2 = 'Pands'

print(s1)
print(s2)

#Запомнить символ \n

s1 = "Я люблю "
s2 = "язык Python"
s1 + s2 + " " + str(5+2)
"воу " * 3 + "палехч"
len("палехч")
asd = "Proverka"
print(len(asd))
print("Pro" in asd)
print(asd == "Proverka")
print(asd != "Proverka")

print('asd' > 'sda')

print(ord("&")) #Вывод кода символа

панда
Pands
8
True
True
False
False
38

#16 Вложенные списки

In [ ]:
line = [1, 7, 6, 11, 3]
img = [[1, 7, 6, 11, 3],[1, 7, 6, 11, 3],[1, 7, 6, 11, 3],[1, 7, 6, 11, 3],[1, 7, 6, 11, 3]]
img

[[1, 7, 6, 11, 3],
 [1, 7, 6, 11, 3],
 [1, 7, 6, 11, 3],
 [1, 7, 6, 11, 3],
 [1, 7, 6, 11, 3]]

In [ ]:
img = [line[:], line[:],line[:],line[:],line[:]]
img
# Ссылки на вложенные списки

[[1, 7, 6, 11, 3],
 [1, 7, 6, 11, 3],
 [1, 7, 6, 11, 3],
 [1, 7, 6, 11, 3],
 [1, 7, 6, 11, 3]]

In [ ]:
img[0][1]
img[1] = [0,0,0,0,0]
img[1] = [0] * 5
img[1][:] = [1]*5
img

[[1, 7, 6, 11, 3],
 [1, 1, 1, 1, 1],
 [1, 7, 6, 11, 3],
 [1, 7, 6, 11, 3],
 [1, 7, 6, 11, 3]]

In [ ]:
img[1][3]

1

# 17 Условный оператор

In [ ]:
#@title
# if - условный оператор ветвления
x = -4
if x < 0:
  x = -x

print(x)

4

In [ ]:
a = float(input("a = :"))
b = float(input("b = :"))
if a<b:
  a,b = b,a
print(a,b)

a = :12
b = :13
13.0 12.0

In [ ]:
x = int(input())
if x>=-4 and x <= 10:
  print (" x в диапазоне [-4;10]")

6
 x в диапазоне [-4;10]

In [ ]:
x = int(input())
if x:
    print (" x True")

0

In [ ]:
marks = [3,3,4,5,4]
if 2 in marks:
  print ("Студент будет отчислен")
else:
  print("Студент успешно сдал сессию")

Студент успешно сдал сессию

In [ ]:
x = int(input("Введите целое число"))
if x % 2 == 0:
  print("x - четное")
else:
  print("x - не четное")

Введите целое число23
x - не четное

In [ ]:
x = int(input("Введите целое число"))
if x <0:
  print("x - отрицательное число")
else:
  print("x - не отрицательное число")

Введите целое число12
x - не отрицательное число

#18 Вложенные условия и множественный выбор

In [ ]:
x = int(input())
if x % 2 == 0:
  if 0 <= x <= 9:
    print("x - цифра")
  else:
    print(" ч - число")
else:
  print("Х - нечетное число")

11
Х - нечетное число

In [ ]:
# сравнение трех чисел
a = int(input("а = :"))
b = int(input("b = :"))
c = int(input("c = :"))
if a > b:
  if a > c: 
    print("a - max")
  else:
    print("c - max")
else:
  if b > c:
    print ("b - max")
  else:
    print("c - max")

а = :12
b = :444
c = :1212121
c - max

In [ ]:
# ELIF
item = int(input("Выберите пункт :"))
if item == 1:
  print("1")
elif item == 2:
  print("2")
elif item == 3:
  print("3")
elif item == 4:
  print("4")
else: print("Ничего")

Выберите пункт :3
3

# 19 Тернарный условный оператор

In [ ]:
a = 12
b = 7
if a > b:
  res = a
else:
  res = b
print(res)

12

In [ ]:
res = a if a > b else b
print(res)
# Тернарный оператор присваивает значения, нет внутренних блоков

12

In [ ]:
res = a +3  if a > b else b * 8
print(res)

15

In [ ]:
res = print(a)  if a > b else b * 8
print(res)

12
None

In [ ]:
s = "Большие буквы"
t = "vfktymrbt ,erds"

res  = s.upper() if s == "Большие буквы" else t
print(res)

БОЛЬШИЕ БУКВЫ

In [ ]:
a = 7
b = 12
[1, 2,a if a < b else b , 4,5]

[1, 2, 7, 4, 5]

In [ ]:
a = int(input("Введите целое число a: "))
print("a - " + ("чётное " if a % 2 == 0 else "нечётное ") + "число.")

Введите целое число a: 121
a - нечётное число.

In [ ]:
a = -17
b = 23
max (1, 2, 3, a if a > 0 else b, 5, 3)

23

In [ ]:
# Поиск наибольшего числа через тернарных операторов
a = 4 
b = 7 
c = -7

d = (a if a > c else c) if a > b else (b if b > c else c)
d

7

#20 While оператор цикла

In [2]:
# сумма 1, 2, 3, 4, ....., n
s = 0
i = 1
N = 1000
while i <= N:
  s += i
  i += 1
print(s)

500500

In [3]:
# сумма 1, 2, 3, 4, ....., n
s = 0
i = 1
N = 1000
while i <= N and i <= 50:
  s += i
  i += 1
print(s)

1275

In [4]:
s = 0
i = 1
N = 1000
while i <= N and i <= 50:
  s += i
  i += 2
print(s)

625

In [7]:
i = 1
while i < 10:
  print(i)
  i += 1

1
2
3
4
5
6
7
8
9

In [8]:
N = 5
i = -1
while i >= -N:
  print(i)
  i -= 1

-1
-2
-3
-4
-5

In [9]:
pass_true = "password"
ps = ""
while ps != pass_true:
  ps = input("Введите пароль: ")
print ("Вход в систему выполнен успешно.")

Введите пароль: 12
Введите пароль: Лшкшдд
Введите пароль: password
Вход в систему выполнен успешно.

In [23]:
#Проверка ввода пароля со счетчиком попыток
pass_true = "password"
ps = ""
m = 3
while ps != pass_true and m > 0:
  ps = input("Введите пароль: ")
  m -= 1
  if ps != pass_true and m > 0:
    print(f"Осталось {m} попытки(а). ")
if ps == pass_true:
  print("Вход в систему выполнен успешно.")
else:
  print("Превышено количество попыток входа.")

Введите пароль: 123
Осталось 2 попытки(а).
Введите пароль: к
Осталось 1 попытки(а).
Введите пароль: password
Вход в систему выполнен успешно.

In [25]:
N = 20
i = 1
while i <= N:
  if i % 3 == 0:
    print(i)

  i += 1

3
6
9
12
15
18

#21